<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Stylesheets/styles.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&family=M+PLUS+Code+Latin:wght@100..700&family=Major+Mono+Display&display=swap" rel="stylesheet">

</head>
<body>
    <head>
        <button class="no-inherit pointer"><a class="flex no-inherit" href="/"><h3 class="inline">Esee</h3><img class="logo" src="/Stylesheets/stilo.png"></a></button>
    </head>
    <div class="headline">
        <h1><b>{{opera["nume"]}}</b></h1>
        <h2> de {{opera["autor"]}}</h2>
    </div>
    <div class="divider"></div>
    <p class="eseu">
        {{opera["eseu"]}}
    </p>
</body>
</html>